VITE_MEALDB_RATE_LIMITS='[{"requests":1,"interval":"second"}]'
VITE_REST_COUNTRIES_RATE_LIMITS='[{"requests":1,"interval":"second"},{"requests":1000,"interval":"month"}]'
VITE_DICTIONARY_RATE_LIMITS='[{"requests":1,"interval":"second"},{"requests":1000,"interval":"hour"}]'
VITE_MEALDB_BASE_URL=https://www.themealdb.com/
VITE_REST_COUNTRIES_BASE_URL=https://api.restcountries.com/
# Set true to use local RestCountries-shaped mock responses during development.
VITE_REST_COUNTRIES_USE_MOCK_DATA=false
VITE_DICTIONARY_BASE_URL=https://freedictionaryapi.com/
